
    <script src="/socket.io/socket.io.js"></script>
    <script src="/vendor/dompurify/purify.min.js"></script>
    <script src="/vendor/marked/marked.umd.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="/public/build/chat.js"></script>
  </body>
</html>
